.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

.amount > * {
    display: block;
}

.speed > * {
    display: block;
}

.sorting {
    display: flex;
    flex-direction: row;
}

.body {
    flex: 1 1 auto;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.body > div {
    flex: 1 1 auto;
}